@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html, body, #root{
    height: 100%;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  
  }
}